<!DOCTYPE html>
<html>
<head>
<title>Prueba git</title>
</head>
<body>

<h1>Esta es una prueba de git</h1>
<p>commit 6</p>
  
<p>commit 2</p>

<h4>Otros commits</h4>

<p>Commit 7</p>

</body>
</html>
